<?xml version="1.0" encoding="UTF-8"?>
<?if $(env.ARCH) = x64 ?>
  <?define ProductName = "Uninstall Bug (64 bit)" ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define ProductName = "Uninstall Bug" ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="1edc84cf-3a2b-4be9-ab5d-a1553c37e8ef" Name="Uninstall Bug" Language="1033" Version="1.0.0.0" Manufacturer="Example" UpgradeCode="2a82c6fe-9e93-4ccd-8e6c-c04de9a8289b">
    <Package InstallerVersion="200" Compressed="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Uninstall Bug" Level="1">
        <ComponentGroupRef Id="MyComponentGroupId" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="$(var.PlatformProgramFilesFolder)">
            <Directory Id="INSTALLDIR" Name="Uninstall Bug" />
        </Directory>
        <Directory Id="CommonAppDataFolder">
            <Directory Id="ConfigDir" Name="Uninstall Bug" />
        </Directory>
    </Directory>

    <ComponentGroup Id="MyComponentGroupId">
        <Component Id="MyComponent" Directory="ConfigDir" Guid="dfb1e839-1f62-4613-b323-daa3166caab5" KeyPath="yes">
            <File Id="test.tmpl.txt" Source="test.tmpl.txt" />
        </Component>
    </ComponentGroup>

    <Binary Id="SetupId" SourceFile="windows\custom.exe" />
    <CustomAction
        Id="MyInstallConfig"
        BinaryKey="SetupId"
        Execute="deferred"
        Return="check"
        ExeCommand='/i "[ConfigDir]test.tmpl.txt" "[ConfigDir]test.txt" xxx'
        Impersonate="no" />
    <CustomAction
        Id="MyUninstallCleanup"
        BinaryKey="SetupId"
        Execute="deferred"        
        ExeCommand='/u "[ConfigDir]test.txt"'
        Impersonate="no" 
		Return="check"/>

		<InstallExecuteSequence>
			<Custom Action="MyInstallConfig" After="InstallFiles">
				NOT Installed AND NOT UPGRADINGPRODUCTCODE
			</Custom>
			<Custom Action="MyUninstallCleanup" Before="RemoveFiles">
				REMOVE="ALL"
			</Custom>
		</InstallExecuteSequence>
  </Product>
</Wix>